*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    background: linear-gradient(90deg, #23bbcc, #57c785, #eddc53);
    color: #fff;
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: #222;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
#nav-btn li {
    display: inline-block;
    margin-left: 2rem;
}
#nav-btn li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#nav-btn li a:hover {
    color: #00ffcc;
}